* {
  padding: 0;
  margin: 0;
}

.canvas {
  display: flex;
  align-items: center;
  justify-content: center;
}


.wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper_score {
  position: absolute;
  top: 5px;
  left: 5px;
  color: #ffffff;
}

.gameover {
  display: none;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.container button {
  margin-top: 20px;
  border: none;
  background-color: green;
  padding: 5px 10px;
  color: #fff;
  cursor: pointer;
  transition: all .3s linear;
}

.container p {
  margin-top: 5px;
}

.container button:hover {
  opacity: .8;
}

.input_field {
  display: flex;
  height: 25px;
  margin-top: 20px;
}

.input_field button{
  margin-top: 0 !important;
}

.input_field input {
  padding: 5px;
}